<app-breadcrumb-banner [homePageUrl]="'/app-home'" [page]="'Shop'"></app-breadcrumb-banner>
<section class="filter-section py-4">
    <div class="container-lg ">
        <app-product-filters></app-product-filters>
    </div>
</section>
<section class="product-section py-5">
    <div class="container-lg ">
        <app-products [numberOfRecords]="16"></app-products>
    </div>
</section>
<app-pagination></app-pagination>
<section class="Feature-section py-5">
    <div class="container-fluid px-md-5 py-4">
        <app-features></app-features>
    </div>
</section>