<div class="row justify-content-center  img-row  g-3 flex-md-nowrap  align-items-center">
    <div class="col-md-5">
        <div class="row g-3   align-items-end">
            <div class="col-3"><img src="{{iurltVariables.gallaryImage1}}" class="gallary-img" alt="tile"></div>
            <div class="col-9"><img src="{{iurltVariables.gallaryImage2}}" class="gallary-img" alt="tile">
            </div>
        </div>

        <div class="row g-3  ">
            <div class="col-5"><img src="{{iurltVariables.gallaryImage3}}" class="gallary-img" alt="tile">
            </div>
            <div class="col-7"><img src="{{iurltVariables.gallaryImage4}}" class="gallary-img" alt="tile">
            </div>
        </div>
    </div>
    <div class="col-md-2 ">
        <img src="{{iurltVariables.gallaryImage5}}" class="gallary-img" alt="tile">

    </div>
    <div class="col-md-5">
        <div class="row g-3  align-items-end">
            <div class="col-7"><img src="{{iurltVariables.gallaryImage6}}" class="gallary-img" alt="tile">
            </div>
            <div class="col-5"><img src="{{iurltVariables.gallaryImage7}}" class="gallary-img" alt="tile">
            </div>
        </div>

        <div class="row g-3">
            <div class="col-5"><img src="{{iurltVariables.gallaryImage8}}" class="gallary-img" alt="tile">
            </div>
            <div class="col-5"><img src="{{iurltVariables.gallaryImage9}}" class="gallary-img" alt="tile">
            </div>
        </div>



    </div>


</div>