<div class="hero banner">
    <div class="row g-0 align-items-center h-100">
        <div class="col-auto offset-lg-6 ">
            <div class="banner-content rounded-4  ">
                <p class="text-dark">{{iProjectVariables.heroHeading}}</p>
                <h1>{{iProjectVariables.heroHeading}} <br>{{iProjectVariables.heroHeadingTwo}}</h1>
                <p class="mb-4 text-dark mb-4">{{iProjectVariables.heroDescription}}</p>
                <p class="mb-0"><a href="javasscipt:void(0)"
                        class="btn btn-primary text-white px-5 py-4 fw-semibold text-uppercare rounded-0">{{iProjectVariables.heroButtonText}}</a>
                </p>
            </div>
        </div>

    </div>
</div>