<app-breadcrumb-banner [homePageUrl]="'/app-home'" [page]="'About'"></app-breadcrumb-banner>

<div class="row justify-content-center  img-row  g-3   align-items-center">
    <div class="col-9 py-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Sint quisquam in doloremque placeat, totam neque
            maxime quaerat quod! Est assumenda excepturi voluptatum quam enim sit ipsum vero fugiat nam error.</p>
    </div>
</div>