<section class="pagination-section py-5 mb-5">
    <div class="container-lg ">
        <div class="row gy-2 gx-3 align-items-center justify-content-center">
            <div class="col-auto  ">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active font-1_2rem p-3 px-4" aria-current="page"
                            href="javasscipt:void(0)'">1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-1_2rem p-3 px-4" href="javasscipt:void(0)'">2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-1_2rem p-3 px-4" href="javasscipt:void(0)'">3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-1_2rem p-3 px-4">{{iProjectVariables.nextButtonText}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>