<!-- <div class="inner-banner" *ngIf="   .data?.length>0"> -->
<div class="inner-banner">
    <div class="row g-0 align-items-center justify-content-center text-center h-100">
        <div class="col-auto">
            <h2>{{ page }}</h2>
            <nav class="mx-auto" style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="homePageUrl"
                            class="fw-semibold text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item"><i class="bi bi-chevron-right"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- <div class="chart-wrapper" *ngIf="chartOptions.data?.length>0">
    <ng-container *ngIf="chartOptions.chartType==='pie'">
    </ng-container>

</div> -->