<!-- Start Hero Section -->
<app-hero></app-hero>
<!-- End Hero Section -->
<!-- Start RANGE  Section -->
<div class=" browse-range py-5">
    <div class="container-lg text-center py-5">
        <h3 class="fw-bold ">{{iProjectVariables.browseRangeText}}</h3>
        <p class="text-secondary mb-5">{{iProjectVariables.browseRangeCardDescription}}</p>
        <app-browse-range></app-browse-range>
    </div>
</div>
<!-- End Hero Section -->
<div class="product-section py-5">
    <div class="container-lg ">
        <h2 class="fw-bold text-center my-5 font-2_5rem">{{iProjectVariables.ourProductTitle}}</h2>
        <app-products [numberOfRecords]="8"></app-products>

    </div>
</div>
<div class="rooms-slider">
    <div class="container-fluid p-0 h-100">
        <div class="row g-0 align-items-center h-100">
            <div class="col-md-4 offset-md-1">
                <div class="slider-content rounded-4  ">
                    <h2 class="fw-bold">{{iProjectVariables.productSliderHeading}}<br>
                        {{iProjectVariables.productSliderHeadingTwo}}</h2>
                    <p class="mb-4 text-dark mb-4">{{iProjectVariables.productSliderDescription}}</p>
                    <p class="mb-0 w-75"><a href="#"
                            class="btn btn-primary text-white px-5 py-4 fw-semibold text-uppercare rounded-0">{{iProjectVariables.productSliderButton}}</a>
                    </p>
                </div>
            </div>
            <div class="col-md-7 rooms-swipper-div">
                <app-product-slider [pagination]="true" [navigation]="true" [spaceBetween]="30"
                    [slidesPerView]="2.1"></app-product-slider>
            </div>
        </div>
    </div>
</div>
<!-- end slider -->

<div class=" gallary py-5">
    <div class="container-fluid p-0">
        <p class="text-secondary mb-2 text-center">{{iProjectVariables.gallarytext}}</p>
        <h3 class="fw-bold -2 text-center">#{{iProjectVariables.gallaryHeading}}</h3>

        <app-tile-gallary></app-tile-gallary>
    </div>
</div>